<nav class="page-sidebar" data-pages="sidebar">
	<!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
	<div class="sidebar-overlay-slide from-top" id="appMenu">
		<div class="row">
			<div class="col-xs-6 no-padding">
				<a href="#" class="p-l-40"><img src="{{ asset('bundles/cequens/img/demo/social_app.svg') }}" alt="socail">
				</a>
			</div>
			<div class="col-xs-6 no-padding">
				<a href="#" class="p-l-10"><img src="assets/img/demo/email_app.svg" alt="socail">
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 m-t-20 no-padding">
				<a href="#" class="p-l-40"><img src="assets/img/demo/calendar_app.svg" alt="socail">
				</a>
			</div>
			<div class="col-xs-6 m-t-20 no-padding">
				<a href="#" class="p-l-10"><img src="assets/img/demo/add_more.svg" alt="socail">
				</a>
			</div>
		</div>
	</div>
	<!-- END SIDEBAR MENU TOP TRAY CONTENT-->
	<!-- BEGIN SIDEBAR MENU HEADER-->
	<div class="sidebar-header">
		<img src="{{ asset('bundles/cequens/img/logo_white.png') }}" alt="logo" class="brand" data-src="{{ asset('bundles/cequens/img/logo_white.png') }}" data-src-retina="{{ asset('bundles/cequens/img/logo_white_2x.png') }}" width="78" height="22">
		<div class="sidebar-header-controls">
			<button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20 hidden-md-down" data-pages-toggle="#appMenu"><i class="fa fa-angle-down fs-16"></i>
			</button>
			<button type="button" class="btn btn-link hidden-md-down" data-toggle-pin="sidebar"><i class="fa fs-12"></i>
			</button>
		</div>
	</div>
	<!-- END SIDEBAR MENU HEADER-->
	<!-- START SIDEBAR MENU -->
	<div class="sidebar-menu">
		<!-- BEGIN SIDEBAR MENU ITEMS-->
		<ul class="menu-items">
			<li class="m-t-30 ">
				<a href="{{ url('admin_index') }}" class="detailed">
					<span class="title">Dashboard</span>
					<span class="details">12 New Updates</span>
				</a>
				<span class="bg-success icon-thumbnail"><i class="pg-home"></i></span>
			</li>
			<li>
				<a href="javascript:;">
					<span class="title">Workflow</span>
					<span class=" arrow"></span>
				</a>
				<span class="icon-thumbnail"><i class="fs-14 fa fa-cubes"></i></span>
				<ul class="sub-menu">
					<li class="">
						<a href="{{ path('workflow_list_applications') }}">Applications</a>
						<span class="icon-thumbnail">wa</span>
					</li>
				</ul>
			</li>
			<li>
				<a href="javascript:;"><span class="title">Bots</span>
					<span class=" arrow"></span></a>
				<span class="icon-thumbnail"><i class="pg-social"></i></span>
				<ul class="sub-menu">
					<li class="">
						<a href="{{ path('bot_list_all') }}">Applications</a>
						<span class="icon-thumbnail">ba</span>
					</li>
				</ul>
			</li>
			<li class="">
				<a href="javascript:;"><span class="title">Inbox</span>
					<span class=" arrow"></span></a>
				<span class="icon-thumbnail"><i class="pg-inbox"></i></span>
				<ul class="sub-menu">
					<li class="">
						<a href="{{ path('conversations_list_all') }}">Conversations</a>
						<span class="icon-thumbnail">ic</span>
					</li>
					<li class="">
						<a href="{{ path('users_list_all') }}">Users</a>
						<span class="icon-thumbnail">iu</span>
					</li>
				</ul>
			</li>
			<li class="">
				<a href="javascript:;"><span class="title">Settings</span>
					<span class=" arrow"></span></a>
				<span class="icon-thumbnail"><i class="pg-settings"></i></span>
				<ul class="sub-menu">
					<li class="">
						<a href="{{ path('audiolib_list_all') }}">Sound Library</a>
						<span class="icon-thumbnail">bt</span>
					</li>
					<li class="">
						<a href="{{ path('settings_user_list_all') }}">Users</a>
						<span class="icon-thumbnail">su</span>
					</li>
				</ul>
			</li>
		</ul>
		<div class="clearfix"></div>
	</div>
	<!-- END SIDEBAR MENU -->
</nav>