{% extends '@Cequens/Admin/layout.html.twig' %}

{% block content %}
	<div class="jumbotron m-b-0" data-pages="parallax">
		<div class=" container-fluid   container-fixed-lg sm-p-l-0 sm-p-r-0">
			<div class="inner">
				<!-- START BREADCRUMB -->
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Portal</a></li>
					<li class="breadcrumb-item"><a href="{{ path('workflow_list_applications') }}">Workflow</a></li>
					<li class="breadcrumb-item active">Create New Workflow</li>
				</ol>
				<!-- END BREADCRUMB -->
			</div>
		</div>
	</div>
	<div class=" container-fluid   container-fixed-lg bg-white">
		<!-- START card -->
		<div class="card card-transparent">
			<div class="card-header ">
				<div class="card-title">Workflow Builder
				</div>
			</div>
			<div class="card-block">
				<div class="row">
					<div class="col-md-10">
						<h3>Create automated communication flows without writing any code.</h3>
						<p>
							A Virtual Mobile Number is usually required to create flows.
						</p>
						<br>
						<p class="small hint-text"><br></p>
						<form role="form" class="form-horizontal" id="frm_workflow_create_app" name="frm_workflow_create_app" role="form">
							<input type="hidden" id="input_workflow_create_app_token" name="input_workflow_create_app_token" value="{{ csrf_token('workflow_create_app_token') }}"/>
							<div class="form-group row">
								<label class="col-md-3 control-label">General Properties</label>
								<div class="col-md-9">
									<p></p>
									<div class="row">
										<div class="col-md-10">
											<input id="input_application_name" name="input_application_name" type="text" class="form-control" placeholder="Workflow Name" value="" required>
										</div>
									</div>
									<br>
									<div class="row">

										<div class="col-md-10">
											<textarea id="input_application_description" name="input_application_description" type="text" class="form-control" placeholder="Workflow Description" rows="3" required></textarea>
										</div>
									</div>
								</div>
							</div>
							{% for property in properties %}
							<div class="form-group row">
								<label class="col-md-3 control-label">{{ property.group.propertyGroupName }}</label>
								<div class="col-md-9">
									<p></p>
									{% for  groupProperty in property.properties %}
										<div class="row">
											<div class="col-md-10">
												<label class="control-label" for="{{ groupProperty.property.propertyName }}">{{ groupProperty.property.propertyDisplayName }}</label>
												<br/><br/>
												{% if groupProperty.property.propertyType == 4 %}
												<select class="cs-select cs-skin-slide full-width" name="{{ groupProperty.property.propertyName }}" id="{{ groupProperty.property.propertyName }}" data-init-plugin="cs-select">
													<option value="numeric">System Default</option>
													<option value="alphanumeric">MyVoice Package - 1</option>
													<option value="alphabetic">MyVoice Package - 2</option>
												</select>
												{% elseif groupProperty.property.propertyType == 1 %}
													<input type="text" class="form-control" placeholder="{{ groupProperty.property.propertyDisplayName }}" id="{{ groupProperty.property.propertyName }}" name="{{ groupProperty.property.propertyName }}">
													<span class="help">e.g. "Your Cequens Code is {{ '{{' }}pin_code{{ '}}' }}"</span>
												{% elseif groupProperty.property.propertyType == 2 %}
												<select class="cs-select cs-skin-slide full-width" name="{{ groupProperty.property.propertyName }}" id="{{ groupProperty.property.propertyName }}" data-init-plugin="cs-select">
													{% for  groupPropertyOption in groupProperty.options %}
														<option value="{{ groupPropertyOption.propertyOptionValue }}">{{ groupPropertyOption.propertyOptionName }}</option>
													{% endfor %}
												</select>
												{% else %}

												{% endif %}

											</div>
										</div>
										<br>
									{% endfor %}

								</div>
							</div>
							{% endfor %}

							<br>
							<button class="btn btn-danger" type="submit" id="btn_save_application" name="btn_save_application">Save</button>
							<button class="btn btn-danger" type="reset" id="btn_cancel_application" name="btn_cancel_application">Cancel</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- END card -->
	</div>
	<!-- END CONTAINER FLUID -->

{% endblock %}
{% block javascript %}
	{{ parent() }}
	<script src="{{ asset('bundles/cequens/js/portal/workflow.js') }}"/>
{% endblock %}